/* Button Styles for Navbar */
.btn {
  display: inline-block;
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  background: none;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  text-transform: uppercase; /* Uppercase text for a clean look */
  letter-spacing: 1px; /* Slight letter spacing for a modern feel */
}

.btn:hover {
  color: white; /* Golden text color on hover */
  transform: scale(1.05); /* Slight scale effect for modern look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Soft shadow on hover */
  outline: 1px solid #f39c12; /* Golden border on hover */
}

/* Active button effect */
.btn:active {
  background-color: #333; 
  color: #f39c12; 
  transform: scale(1); 
  box-shadow: none;
}

.btn:focus {
  outline: none;
}


.btn.disabled, .btn:disabled {
  background-color: #555; 
  color: #aaa;
  cursor: not-allowed;
  box-shadow: none;
}



.allBtn,.diplomaBtn{
    padding: 5px 20px;
    color: rgb(168, 158, 158);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 2px;
    text-decoration: underline;
    border:1px solid white;
  &:hover {
    background-color: #1a388b77; 
    text-decoration: none;
    border-radius: 18px;

  }
}
.cardBtn{
  padding: 5px 20px;
  color: rgb(168, 158, 158);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 2px;
  text-decoration: none;
  border:1px solid white;
&:hover {
  background-color: #1a388b77; 
  border-radius: 18px;

}
}
.diplomaBtn{
  &:hover {
    background-color: #684d2e7a; 
    text-decoration: none;
    
  }
}

